.blokirkartukredit-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(220, 223, 225) 50.00%,rgba(44, 62, 80, 0.77) 75.00%,rgba(44, 62, 80, 0.77) 87.00%);
}
.blokirkartukredit-container1 {
  width: 100%;
  height: 704px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/app_background-1500w.html");
  background-repeat: no-repeat;
  background-position: center;
}
.blokirkartukredit-container2 {
  top: 11px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 91px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.blokirkartukredit-image {
  left: 0px;
  top: 1px;
  right: 0px;
  width: 200px;
  bottom: 28px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.blokirkartukredit-image1 {
  top: 11px;
  right: 21px;
  width: 38px;
  height: 36px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.blokirkartukredit-icon {
  top: 11px;
  left: 19px;
  width: 40px;
  height: 38px;
  position: absolute;
}
.blokirkartukredit-container3 {
  top: 140px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 349px;
  height: 557px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.blokirkartukredit-image2 {
  top: -35px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: 0px auto;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #363434;
  object-fit: cover;
  border-radius: 15px;
}
.blokirkartukredit-form {
  left: 0px;
  top: 155px;
  right: 0px;
  width: 327px;
  bottom: 1px;
  height: 313px;
  margin: auto;
  display: flex;
  position: absolute;
}
.blokirkartukredit-textinput {
  top: 14px;
  left: 0px;
  right: 0px;
  outline: none;
  margin: auto;
  position: absolute;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom-width: 1px;
  padding-left: 3px;
}
.blokirkartukredit-textinput1 {
  top: 72px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  position: absolute;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom-width: 1px;
  padding-left: 3px;
}
.blokirkartukredit-textinput2 {
  top: 130px;
  left: 0px;
  right: 0px;
  outline: none;
  margin: auto;
  position: absolute;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom-width: 1px;
  padding-left: 3px;
}
.blokirkartukredit-button {
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  bottom: 3px;
  height: 51px;
  margin: auto;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #525151;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  border-radius: 10px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(234, 168, 3) 1.00%,rgb(241, 246, 4) 100.00%);
}
