.menu-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  
}
.menu-container1 {
  width: 100%;
  height: 749px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/img_default_blue.png");
  background-repeat: no-repeat;
  background-position: center;
}
.menu-container2 {
  top: 11px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 91px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.menu-image {
  top: 11px;
  left: 0px;
  right: 0px;
  width: 200px;
  margin: 0px auto;
  position: absolute;
  object-fit: cover;
}
.menu-image1 {
  top: 11px;
  right: 21px;
  width: 38px;
  height: 36px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.menu-icon {
  top: 11px;
  left: 19px;
  width: 40px;
  height: 38px;
  position: absolute;
}
.menu-container3 {
  top: 215px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 322px;
  height: 470px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.menu-navlink {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  height: 45px;
  margin: 0px auto;
  position: absolute;
   box-shadow: rgb(37, 37, 37, 0.6) 3px 3px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  padding: 12.5px 10px;
  text-decoration: none;
  background-size: 100% 100%;
  background-image: linear-gradient(90deg, rgb(240, 186, 9) 0%, rgb(211, 227, 5) 100%);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.menu-navlink1 {
  top: 65px;
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  height: 45px;
  margin: auto;
  position: absolute;
   box-shadow: rgb(37, 37, 37, 0.6) 3px 3px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-width: 0px;
    padding: 12.5px 10px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(240, 186, 9) 0%, rgb(211, 227, 5) 100%);
}
.menu-navlink2 {
  top: 129px;
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  height: 45px;
  margin: auto;
  position: absolute;
   box-shadow: rgb(37, 37, 37, 0.6) 3px 3px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-width: 0px;
    padding: 12.5px 10px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(240, 186, 9) 0%, rgb(211, 227, 5) 100%);
}
.menu-navlink3 {
  top: 195px;
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  height: 45px;
  margin: auto;
  position: absolute;
  box-shadow: rgb(37, 37, 37, 0.6) 3px 3px 10px 0px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-width: 0px;
    padding: 12.5px 10px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(240, 186, 9) 0%, rgb(211, 227, 5) 100%);
}
.menu-text {
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 12px;
  text-align: center;
}
